h2 {font-size: 120%;
    font-family: Verdana;
    color: #336;
}
a {font-size: 100%;
   font-family: Arial;
   color: #8b008b;
}
body { cursor:url(Arrow.cur), auto;
    background:#202020;
    font:bold 12px Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    min-width:960px;
    color:#bbbbbb;  
}
body, html {padding: 0; margin: 0; 
}
