@import url(https://allfont.ru/allfont.css?fonts=bikham-cyr-script);

@import url(https://allfont.ru/allfont.css?fonts=freeset);

* {
	margin: 0;
	padding: 0;
}
/*******Шапка*******/
.line {
	width: 100%;
	height: 180px;
	border-bottom: 1px solid black;
	position: sticky;
	background: white;
	top: 0;
	z-index: 100;
}

.line-up > div {
	display: inline-block;
}

.logo {
	font-family: 'Bikham Cyr Script', arial;
	margin-left: 100px;
	margin-top: 30px;
	font-size: 40px;
}

.slogan {
	margin-top: 30px;
	margin-left: 50px;
	font-family: 'FreeSet', arial;
}

.phone-number {
	float: right;
	margin-top: 30px;
	margin-right: 80px;
	font-family: 'FreeSet', arial;
}

.phone-number > p {
	margin-top: 5px;
}

.phone-number > #rasp {
	font-size: 12px;
	color: grey;
}

.phone-number > #btn {
	border-bottom: 2px dotted red;
}

.phone-number > a {
	color: red;
}

.menu > a,
.menu > p {
	display: inline-block;
	margin-right: 50px;
	text-decoration: none;
	color: black;
}

.menu {
	margin-left: 130px;
	font-family: 'FreeSet', arial;
}

/*баннер*/
.banner {
	background: url("../img/andrey-zvyagintsev-bnVZlRqWZac-unsplash.jpg")no-repeat 0 50%;
	background-size: cover;
	width: 100%;
	height: 450px;
}

#red1{
	color: red;
	text-decoration: none;

}
#black1{
	color: black;
}

.banner > .color {
	background: #0D0039;
	width: 100%;
	height: 450px;
}

#red {
	color: red;
	font-size: 50px;
}

.words {
	font-family: 'FreeSet', arial;
	font-size: 40px;
	text-align: center;
	color: white;
	z-index: 5;
}

/*MAIN*/
.meating {
	font-family: 'FreeSet', arial;
	width: 100%;
}

.word1 {
	margin-left: 120px;
	margin-top: 100px;
	font-size: 50px;
}

.word2 {
	margin-left: 120px;
	margin-top: 20px;
	font-size: 20px;
}

.word3 {
	margin-left: 120px;
	margin-top: 50px;
	color: gray;
}

.hr-dashed-gradient {
	margin-left: 120px;
	margin-top: 20px;
	padding: 0;
	height: 2px;
	width: 495px;
	border: none;
	background: linear-gradient(to right, transparent 50%, #fff 50%), 
				linear-gradient(to right, red, red);
	background-size: 16px 2px, 100% 2px;
}

.form1 {
	margin-left: 120px;
	margin-top: 50px;
}

.form1 > input {
	height: 42px;
	width: 300px;
	border-radius: 10px;
	font-size: 16px;
}

.photo {
	width: 500px;
	height: 500px;
	border: 1px solid black;
	border-radius: 10px;
	float: right;
	margin-right: 200px;
	background: url("../img/Чай-осень-кальян-миксы.jpg")no-repeat 0% 100%;
	background-size: cover;
}

.offer {
	font-family: 'FreeSet', arial;
	background: url("../img/paper_box_texture.jpg")no-repeat;
	width: 100%;
	height: 700px;
	background-size: cover;
}

.hr-dashed-gradient1 {
	margin-left: 650px;
	margin-top: 20px;
	padding: 0;
	height: 2px;
	width: 495px;
	border: none;
	background: linear-gradient(to right, transparent 50%, red 50%);
	background-size: 16px 2px, 100% 2px;
	margin-bottom: 10px;
}

#offer1,#offer2,#offer3,#offer4,#offer5,#offer6 {
	text-align: center;
}

#offer0 {
	float: right;
	margin-top: 330px;
	margin-right: -316px;
	font-size: 30px;
}

#offer1 {
	color: red;
	font-size: 40px;
}

#offer2 {
	font-size: 30px;
	color: white;
}

#offer5 {
	color: gray;
	font-size: 30px;
	text-decoration: line-through;
	margin-right: 460px;
}

#offer6 {
	color: red;
	font-size: 40px;
	margin-right: 460px;
}

.offer-photo {
	background: url( "../img/табак.png") no-repeat;
	background-size: cover;
	border-radius: 10px;
	margin-left: 120px;
	margin-top: 20px;
	height: 600px;
	width: 300px;
	float: left;
}

.offer-photo1,.offer-photo2 {
	float: right;
	border-radius: 10px;
	display: inline-block;
	margin-top: 20px;
	height: 300px;
	width: 150px;
}

.offer-photo1 {
	background: url("../img/Летние-миксы.jpg")no-repeat;
	background-size: cover;
	border: 1px solid #000000;
	margin-right: 150px;
}

.offer-photo2 {
	background: url("../img/Чай-осень-кальян-миксы.jpg")no-repeat;
	background-size: cover;
	border: 1px solid #000000;
	margin-right: 20px;
}

.form2 > input {
	height: 42px;
	width: 300px;
	border-radius: 10px;
	font-size: 16px;
	margin-left: 330px;
	border: 0px;
	margin-top: 10px;
}

.order {
	font-family: 'FreeSet', arial;
}

.order > p {
	text-align: center;
}

#order2,#order1 {
	font-size: 40px;
}

#order2 {
	color: red;
	margin-bottom: 50px;
}

.order-form {
	margin-left: 330px;
}

.order-form > input {
	align-items: center;
	display: inline-block;
	height: 42px;
	width: 300px;
	margin-top: 50px;
	font-size: 16px;
}

#order-1,#order-2,#order-3 {
	border: 0px;
	border-bottom: 1px solid black;
}

.hr-shelf {
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
	width: 100%;
}

.provide {
	font-family: 'FreeSet', arial;
	background: url("../img/paper_box_texture.jpg")no-repeat;
	background-size: cover;
	z-index: 0;
}

.provide > p {
	text-align: center;
}

.provide > #red {
	color: red;
	font-size: 40px;
}

.comp {
	display: inline-block;
	width: 200px;
	height: 200px;
	border-radius: 10px;
	margin-left: 204px;
	background: url("../img/лого.png")no-repeat;
	background-size: cover;
}

.fast-order {
	font-family: 'FreeSet', arial;
	background: url("../img/1496491401_is-hookah-bad-1.jpg")no-repeat;
	background-size: cover;
	height: 1000px;
}

#fd1,#fd4,#fd5,#fd6,#fd7 {
	color: white;
}

#fd1 {
	font-size: 30px;
	padding: 100px 0px 0px 100px;
}

#fd2 {
	color: red;
	font-size: 50px;
	margin-left: 180px;
	margin-bottom: 20px;
}

#fd3 {
	color: gray;
	margin-left: 170px;
}

#fd4 {
	margin-left: 240px;
	margin-top: -17px;
}

#fd5 {
	margin-left: 100px;
	font-size: 30px;
}

#fd7>a {
	color: white;
}

#fd6,#fd7,#fd8 {
	position: absolute;
}

#fd6 {
	margin: 489px 0 0 110px;
}

#fd7 {
	margin: 522px 0 0 110px;
}

#fd8 {
	height: 30px;
	width: 30px;
	background: url("../img/whatsapp.png")no-repeat;
	background-size: cover;
	margin: 480px 0 0 255px;
}

.calc {
	background: url("../img/44a4af7840b32522b3e803fc1c9ca5f8.jpg")no-repeat;
	background-size: cover;
	height: 1000px;
	position: relative;
}

.window-calc {
	height: 750px;
	width: 1500px;
	background: white;
	border-radius: 10px;
	border: 0px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#wc1,#wc2,#wc3,#wc4,#wc5,#wc6{
	font-family: 'FreeSet', arial;
	text-align: center;
	padding-top: 10px;
	font-size: 30px;
}
#wc1{
	color: red;
}

#wc2{
	padding-top: 10px;
}

#wc3{
	margin-bottom: 40px;
	padding-top: 30px;
}
#wc4{
	font-size: 50px;
}
#wc5{
	margin-left: 150px;
	font-size: 15px;
	text-decoration: line-through;
	margin-top: -60px;
}
#wc6{
	font-size: 20px;
	margin-left: 155px;
	margin-top: -10px;
}
.wc7{
	margin-left: 120px;
	margin-top: 50px;
	width: 450px;
	border-bottom: 1px solid black;
	display: inline-block;
}
.wc8{
	margin-left: 120px;
	margin-top: 50px;
	width: 450px;
	border-bottom: 1px solid black;
	display: inline-block;
}
.opisanie{
	font-family: 'FreeSet', arial;
	margin-left: 100px;
	margin-top: 50px;
}
.range-slider * {
    margin: 0;
    padding: 0;
    border: 0;
}    
.range-slider, 
.range-ticks,
.label-range{
    display: flex;
}
.range-slider {
    flex-flow: column nowrap;
    margin: 0 auto;
    max-width: 18em;
    padding: 0 1.5em 1.5em 1.5em;
    font-size: calc(20px + (20)*(100vw)/(2000));
    box-sizing: border-box;    
}
.range-slider input[type=range], 
.range {
    border-radius: 0.75em;
    overflow: hidden;
    position: relative;
    height: 1.5em;    
}
.range-slider input[type=range] {
    background-color: transparent;
    font: 1em/1.5 'Roboto Condensed', sans-serif;
    box-shadow: 0.3em 0.3em 0.4em #c1c2c5 inset, -0.3em -0.3em 0.4em #fff inset;
    display: block;
    padding: 0 0.1em;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.range-slider input[type=range]:focus {
    outline: transparent;
}
.range-ticks {
    font: 1em/1.5 'Roboto Condensed', sans-serif;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    position: absolute;
    top: 0.04em;
    left: 0.75em;
    width: calc(100% - 1.5em);
    height: 100%;
}
.range-tick, 
.range-tick-text {
    display: inline-block;
}
.range-tick {
    color: #454954;
    font-size: 0.5em;
    text-align: center;
    width: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.range-tick-text {
    transform: translateX(-50%);
}
.label-range {
    font: 0.8em/1.5 'Roboto Condensed', sans-serif;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.data-range {
    display: flex;
    height: 3em;    
    width: 3em;
    justify-content: center;
    align-items: center;    
    text-align: center;
    font: bold 0.5em/1.5 'Roboto Condensed', sans-serif;
    color: #FFF;
    position: absolute;
    top: 0;
    z-index: 2;
    pointer-events: none;
    background-color: #337AB7;
    border: 0;
    border-radius: 50%;
    box-shadow: -0.3em -0.3em 0.5em #0d518c inset, 0 -0.2em 0.2em 0 rgba(0,0,0,0.2), 0.3em 0.5em 0.8em  rgba(0,0,0,0.3);
}

#fast-order {
	margin: 120px 0 0 90px;
}

#fast-order > input, #fast-order > textarea {
	border: 0px;
	border-radius: 10px;
	margin-bottom: 20px;
}

#form1,#form2 {
	width: 500px;
	height: 40px;
	margin-bottom: 10px;
}

#form6 {
	color: white;
	background: red;
	height: 35px;
	width: 500px;
	font-size: 20px;
}

.dostavka {
	font-family: 'FreeSet', arial;
	background: url("../img/paper_box_texture.jpg")no-repeat;
	background-size: cover;
	width: 100%;
	height: 500px;
}

.dostavka-photo {
	height: 300px;
	width: 500px;
	float: right;
	margin-top: 50px;
	margin-right: 300px;
	background: url("../img/сумка.png") no-repeat;
	background-size: cover;
}

#d1 {
	font-size: 40px;
	margin-bottom: 50px;
	margin-left: 120px;
	padding-top: 20px;
}

#d2 {
	color: lightgray;
	margin-left: 120px;
	margin-bottom: 50px;
}

#d3 {
	margin-left: 120px;
	font-size: 30px;
	margin-bottom: 10px;
}

#d4 {
	margin-left: 120px;
	font-size: 30px;
	color: red;
	margin-bottom: 30px;
}

.dostavka > ul {
	margin-left: 120px;
}

.dostavka >ul >li {
	margin-bottom: 10px;
	font-size: 20px;
}

.advantages {
	width: 100%;
	height: 1000px;
	font-family: 'FreeSet', arial;
	background: url("../img/paper_box_texture.jpg")no-repeat;
	background-size: cover;
	border-top: 1px solid black;
}

#a1 {
	text-align: center;
	font-size: 40px;
	padding-top: 20px;
}

#a2 {
	-moz-transform: rotate(90deg);
	writing-mode: tb-rl;
	font-size: 100px;
	margin-top: 70px;
}

#a3 {
	margin-left: 150px;
	margin-top: -700px;
	font-size: 600px;
}

#a4 {
	margin-top: 50px;
	text-align: center;
}

footer {
	background: black;
	font-family: 'FreeSet', arial;
	width: 100%;
	height: 280px;
	color: white;
}

.nav {
	margin-left: 200px;
}

.nav >a,.nav2 >a {
	text-decoration: none;
	color: white;
}

#nav1,#nav6 {
	font-size: 30px;
	padding-bottom: 30px;
	padding-top: 40px;
}

.nav, .nav2 {
	display: inline-block;
}

.nav2 {
	margin-left: 300px;
}

.nav3 {
	float: right;
	margin-right: 200px;
}

#nav11 {
	float: right;
	margin-right: -60px;
}