@media(max-width: 1920px){
	.hr-dashed-gradient1 {
	margin-left: 480px;
	margin-top: 20px;
	padding: 0;
	height: 2px;
	width: 495px;
	border: none;
	background: linear-gradient(to right, transparent 50%, red 50%);
	background-size: 16px 2px, 100% 2px;
	margin-bottom: 10px;
}
	.form2 > input {
	height: 42px;
	width: 300px;
	border-radius: 10px;
	font-size: 16px;
	margin-left: 170px;
	border: 0px;
	margin-top: 10px;
}
	.order-form {
	margin-left: 150px;
}
	.comp {
	display: inline-block;
	width: 200px;
	height: 200px;
	border-radius: 10px;
	margin-left: 140px;
	margin-bottom: 20px;
	background: url("../img/лого.png")no-repeat;
	background-size: cover;
}
	.nav {
	margin-left: 100px;
	}
		.nav2 {
	margin-left: 200px;
}
}

